Checking for basic validations/asking basic questions and answering them using visualizations on a small shopping dataset. Dataset available here: https://www.kaggle.com/datasets/zubairamuti/shopping-behaviours-dataset

Reading in and checking the cleanliness of the data:

In [ ]:
import pandas as pd
shop_data = pd.read_csv('shopping_behavior_updated.csv')
shop_data.head()

,Customer ID,Age,Gender,Item Purchased,Category,Purchase Amount (USD),Location,Size,Color,Season,Review Rating,Subscription Status,Shipping Type,Discount Applied,Promo Code Used,Previous Purchases,Payment Method,Frequency of Purchases
0,1,55,Male,Blouse,Clothing,53,Kentucky,L,Gray,Winter,3.1,Yes,Express,Yes,Yes,14,Venmo,Fortnightly
1,2,19,Male,Sweater,Clothing,64,Maine,L,Maroon,Winter,3.1,Yes,Express,Yes,Yes,2,Cash,Fortnightly
2,3,50,Male,Jeans,Clothing,73,Massachusetts,S,Maroon,Spring,3.1,Yes,Free Shipping,Yes,Yes,23,Credit Card,Weekly
3,4,21,Male,Sandals,Footwear,90,Rhode Island,M,Maroon,Spring,3.5,Yes,Next Day Air,Yes,Yes,49,PayPal,Weekly
4,5,45,Male,Blouse,Clothing,49,Oregon,M,Turquoise,Spring,2.7,Yes,Free Shipping,Yes,Yes,31,PayPal,Annually

In [9]:
#general info
print("general info:")
print(shop_data.info())
print("\n")

#checking for NaNs
print("NaNs in each column:")
print(shop_data.isna().sum())
print("\n")

#checking for duplicates
print("Duplicate rows:")
print(shop_data.duplicated().sum())
print("\n")

#checking data types
print("Data types:")
print(shop_data.dtypes)
print("\n")

general info:
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3900 entries, 0 to 3899
Data columns (total 18 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   Customer ID             3900 non-null   int64
 1   Age                     3900 non-null   int64
 2   Gender                  3900 non-null   object
 3   Item Purchased          3900 non-null   object
 4   Category                3900 non-null   object
 5   Purchase Amount (USD)   3900 non-null   int64
 6   Location                3900 non-null   object
 7   Size                    3900 non-null   object
 8   Color                   3900 non-null   object
 9   Season                  3900 non-null   object
 10  Review Rating           3900 non-null   float64
 11  Subscription Status     3900 non-null   object
 12  Shipping Type           3900 non-null   object
 13  Discount Applied        3900 non-null   object
 14  Promo Code Used         3900 non-null   object
 15  Previous Purchases      3900 non-null   int64
 16  Payment Method          3900 non-null   object
 17  Frequency of Purchases  3900 non-null   object
dtypes: float64(1), int64(4), object(13)
memory usage: 548.6+ KB
None


NaNs in each column:
Customer ID               0
Age                       0
Gender                    0
Item Purchased            0
Category                  0
Purchase Amount (USD)     0
Location                  0
Size                      0
Color                     0
Season                    0
Review Rating             0
Subscription Status       0
Shipping Type             0
Discount Applied          0
Promo Code Used           0
Previous Purchases        0
Payment Method            0
Frequency of Purchases    0
dtype: int64


Duplicate rows:
0


Data types:
Customer ID                 int64
Age                         int64
Gender                     object
Item Purchased             object
Category                   object
Purchase Amount (USD)       int64
Location                   object
Size                       object
Color                      object
Season                     object
Review Rating             float64
Subscription Status        object
Shipping Type              object
Discount Applied           object
Promo Code Used            object
Previous Purchases          int64
Payment Method             object
Frequency of Purchases     object
dtype: object

Data looks clean! Checking for basic validations first: I'm assuming basic validations means asking questions about the scope of the data and how it varies.

Check: How does the sample vary across different variables? (Using this to check bias)

In [ ]:
#check location distribution
print("Location distribution:")
print(shop_data['location'].value_counts())

Asking question 1: How does gender affect color preference?
Asking with multiple donut/pie charts

Asking question 2: How does category of purchase change across state?
Asking with a stacked bar chart?

Asking question 3: How does the age of purchasers vary across different categories of items purchased?
Answered with a box-and-whisker plot

In [ ]:
Asking question 4: How does size purchased of items change across the year?
Answered with a stacked bar chart